/* Infima light theme preset rebranding */
:root {
  --ifm-color-primary: #0c4e16;
  --ifm-color-primary-dark: #0b4614;
  --ifm-color-primary-darker: #0a4213;
  --ifm-color-primary-darkest: #08370f;
  --ifm-color-primary-light: #0d5618;
  --ifm-color-primary-lighter: #0e5a19;
  --ifm-color-primary-lightest: #10651d;
  --ifm-background-color: #ffffff;
  --ifm-footer-background-color: #ffffff;
  --ifm-navbar-background-color: #ffffff;
  /* --docusaurus-highlighted-code-line-bg: hsla(230, 8%, 24%, 0.05); */
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
}

/* Infima dark theme preset rebranding */
:root[data-theme='dark'] {
  --ifm-color-primary: #26f444;
  --ifm-color-primary-dark: #0cf22e;
  --ifm-color-primary-darker: #0ce42b;
  --ifm-color-primary-darkest: #0abc23;
  --ifm-color-primary-light: #41f55b;
  --ifm-color-primary-lighter: #4ef667;
  --ifm-color-primary-lightest: #77f889;
  --ifm-background-color: #151515;
  --ifm-footer-background-color: #151515;
  --ifm-navbar-background-color: #151515;
  /* --docusaurus-highlighted-code-line-bg: hsla(220, 100%, 80%, 0.04); */
  --docusaurus-highlighted-code-line-bg: rgb(66 66 66 / 35%);
}

/* Theming */
[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}

/* Simplifications to keep interface clean */
.navbar__toggle {
  margin-right: 1rem;
}

.navbar-sidebar__brand {
  box-shadow: none;
}

.navbar__logo {
  margin-right: 0.75rem;
}

@media (min-width: 997px) {
  .sidebarLogo_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module img {
    padding-right: 0.25rem;
  }
  .navbar__brand > b.navbar__title.text--truncate {
    display: none;
  }
  .navbar__brand > .navbar__logo {
    margin-right: 0.25rem;
  }
}

button.clean-btn.navbar-sidebar__back {
  background: none;
}

* {
  --ifm-toc-border-color: #0000;
}

/* Overflow prevention */
.menu__link {
  word-break: break-word;
}

.markdown h2:first-child {
	margin-top: 0;
}

.div > .badge:not(:last-child) {
  margin-right: var(--ifm-toc-padding-horizontal);
}

details > div > div > div > :last-child {
  margin-bottom: 0;
}

/* Navigation to GitHub repository */
/* TODO: Make responsive to better in-mobile experience */
.header-github-link:hover {
  opacity: 0.75;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  -webkit-tap-highlight-color: transparent;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

/* Highlight code blocks in well- and malformed- lines */
.code-block-malformed-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.code-block-well-line {
  background-color: #00ff0020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #00ff0080;
}

/* Predefined basic Minecraft resources */
.resource-atlas-align-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--ifm-h1-font-size);
}

.resource-atlas-align-box p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-atlas-align-box > * {
  padding: 0 var(--ifm-button-padding-vertical);
}

.resource-atlas-align-box img {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  height: 8rem;
  width: auto;
}

.block-uv-table {
  font-size: var(--ifm-h4-font-size);
  border-collapse: separate;
  border-spacing: 0.15rem;
}

.block-uv-table tr:nth-child(2n) {
  background-color: transparent;
}

.block-uv-table td:not(:empty) {
  background-color: var(--ifm-hover-overlay);
}

.block-uv-table th,
.block-uv-table td {
  vertical-align: middle;
  border: none;
  width: 4rem;
  height: 4rem;
  padding: 0;
}
