:root {
	--light-color-icon-background: var(--light-color-background);
	--dark-color-icon-background: var(--dark-color-background);
	--light-color-background-secondary: var(--light-color-background);
	--dark-color-background-secondary: var(--dark-color-background);
}

@media (min-width: 1024px) {
	.col-menu {
		border-left: none;
	}
	.col-menu .tsd-navigation:not(:last-child) {
		padding-bottom: 0;
	}
}
@media (min-width: 770px) {
	.container-main {
		margin: 0.5rem auto;
	}
}
.tsd-page-toolbar {
	border-bottom: none;
}
.tsd-generator {
	border-top: none;
}
h3.tsd-index-heading.uppercase {
	display: none;
}
.tsd-panel-group.tsd-index-group {
	margin: 0;
}

pre, code.tsd-tag, .tsd-signatures .tsd-signature {
	border: none;
}
pre {
	border-radius: 0;
}
.tsd-signatures .tsd-signature {
	background: var(--code-background);
}
.tsd-navigation a, .tsd-navigation summary > span, .tsd-page-navigation a {
	display: flex;
	text-decoration: inherit;
}
.tsd-navigation .tsd-accordion-summary {
	display: flex;
}
a.tsd-index-link.deprecated, a.tsd-index-link:hover, .tsd-navigation a.deprecated, .tsd-navigation a:hover {
	text-decoration: none;
}
a.tsd-index-link.deprecated > :not(:first-child), .tsd-navigation a.deprecated > :not(:first-child) {
	text-decoration: line-through;
}
a.tsd-index-link:hover > :not(:first-child), .tsd-navigation a:hover > :not(:first-child) {
	text-decoration: underline;
}
.tsd-signature {
	user-select: all;
	-moz-user-select: all;
	-webkit-user-select: all;
}

.codicon {
	overflow: hidden;
}
.tsd-page-toolbar .tsd-toolbar-contents .codicon {
	overflow: visible;
}
a.title:after {
	content: " API";
}
.tsd-navigation details a.current, .tsd-page-navigation details a.current {
	background: none;
}
.tsd-navigation details a.current span, .tsd-page-navigation details a.current span {
	-webkit-text-stroke: medium;
}
.tsd-kind-icon {
	margin-right: 0.25rem;
}
.tsd-signature > .tsd-kind-icon {
	margin-right: 0.4rem;
}
.tsd-index-accordion .tsd-accordion-details {
	margin-left: 1.5rem;
}
.tsd-panel.tsd-member {
	margin-bottom: 2.5rem;
}
*::-webkit-scrollbar {
	height: 0.75rem;
}
*::-webkit-scrollbar-corner {
	background: var(--color-icon-background);
}
